body {  
    background-image:url(../images/concrete_seamless.png);
    padding: 0;
    margin: 0;
    font-family: "Arial", "Helvetica Neue", 'Helvetica', 'sans-serif'; 
    line-height: 150%;
}

header {
    background: #ffffff;
    padding: 0px;
    border-bottom:2px solid #cccccc
}
#hello {
    float: left;
    width: 300px;
    height: 195px;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin: 10px 20px;
    padding:0;
}

h1 {
    /* background-color: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    text-align: center;
    padding: 35px;   
    width: 200px;
    margin:0px 355px; */
    display: inline;
}
    
ul {
    list-style: none;
    text-decoration:none;
    color: #777777;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-decoration:none;
    float: right;
    padding: 0px 10px;
    margin-top: 35px;
    border-right:0.75px solid #cccccc; 
    
}

li a {
    list-style: none;
    text-decoration:none;
    display: block;
    padding:0;
    font-size: 18px;
}

img {
    float: left;
    padding: 5px 10px 5px 20px;
    margin-right: 0px;
}

.container {
    
    float: left;
    width: 960px;
    margin: 0px,auto;
    background: #ffffff;
    width: 650px;
    height: 480px;
    padding: 0px 0px;
    margin-top: 40px;
    margin-left: 350px;
    border: 1px solid #cccccc;
}

.sidebar {
   
    float: left;
    background: #ffffff;
    width: 270px;
    height: 200px;
    padding: 0;
    margin-top: 40px;
    margin-right: 0px;
    margin-left: 100px;
    border: 1px solid #cccccc;

}
#name {
    float: left;
}

/* #li {
    margin-right: 355px;
    margin-top: 35px;
    border-right:0px solid #cccccc;

} */
#sidebar {
    padding: 0;
    margin: 0;
}

#P2 {
    float: left;
    padding: 20px;
    margin: 0px;
    
}

.icon_img {
     padding: 0;
     margin: 5px;
     margin-top: 10px;
    
}
#icon_img {
    padding: 0;
    margin: 10px 0px 15px 22px;
    

}

section {
    padding: 0;
    margin: 0;
}

h2 {
    text-align: left;
    width: 585px;
    background-color:;
    color: #4aaaa5; 
    font-size: 35px;
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    padding: 25px 25px 25px 0px;
    margin: 15px;
    margin-left: 20px;
    border-bottom:2px solid #cccccc

}

h3 {
    color: #4aaaa5;
    font-size: 25px;
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    text-align: center ;     
    width: 218px;
    padding: 10px 0px 20px 0px;
    margin:15px;
    margin-left: 25px;
    border-bottom:1px solid #cccccc
}

p {
    color:#777777;
}

footer {
    position: fixed ;bottom: 0;
    background-color: #666666;
    color: #cccccc;
    text-align: center;
    border-top:6px solid  #4aaaa5;
    padding: 11px;
    margin-top: 6px;
    width: 100%;
}

nav {
    /* float: right; */
    
}
.header {  
    margin: 0 auto;
    padding: 20px;
}




